@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Aleo", serif;
  --font-sans: "Asap", sans-serif;
  
  --color-brand-navy: #213469;
  --color-brand-red: #dc1e33;
  --color-brand-blue: #6ab2e2;
  --color-brand-purple: #6b6eb3;
  --color-brand-teal: #109aa9;
}

.markdown-message strong {
  font-weight: 700;
  color: var(--color-brand-navy);
}

.markdown-message p {
  margin-bottom: 0.5rem;
}

.markdown-message p:last-child {
  margin-bottom: 0;
}
